{% extends "base.html" %}

{% block content %}
    <header class="major">
        <h2>{{ data_provider.provider_name }}</h2>
    </header>
    <section>
        <div>
            <a class="button primary" href={{ authorize_url }}>
                Oauth Authorize {{ data_provider.provider_name }}
            </a>
            <a class="button primary" href=upload_file/> Upload data </a>

            {% if data_provider_user %}
                <h3>Endpoints</h3>
                {% for endpoint in endpoints %}
                    <div>
                        <a href="{{ endpoint.get_internal_view_url }}">
                            {{ endpoint.endpoint_name }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
