{% extends "base.html" %}

{% block content %}


    <div>
        <h2>{{ data_provider.provider_name }} {{ endpoint.endpoint_name }}</h2>
    </div>
    <div>
        <a href="{{ data_provider.get_internal_view_url }}">
            Back to: {{ data_provider.provider_name }}
        </a>
    </div>

    <form method="get">
        <input name="store_data" type="hidden" value="True"/>
        <input type="submit" value="Store data"/>
    </form>

    <table id="table" style="width:100%">
        <tr>
            <td>id</td>
            <td>filename</td>
            <td>date</td>
            <td>Go to file</td>
        </tr>
        {% for data_fetch in data_fetches %}
            <tr>
                <td>
                    <p> {{ data_fetch.pk }} </p>
                </td>
                <th>
                    <p> {{ data_fetch.data_file_from_source }} </p>
                </th>
                <td>
                    <p> {{ data_fetch.date_created }} </p>
                </td>
                <td>
                    <form action="{{ data_fetch.get_internal_view_url }}" method="get">
                        <input type="submit" value="file"/>
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}



