{% extends "base.html" %}

{% block content %}


<div>
        <h2>{{ data_provider.provider_name }} {{ endpoint.endpoint_name }}</h2>
    </div>

    <div>
        <a href="{{ data_provider.get_internal_view_url }}">
            Back to: {{ data_provider.provider_name }}
        </a>
    </div>

    <form method="get">
        <input name="store_data" type="hidden" value="True"/>
        <input type="submit" value="Store data"/>
    </form>

    <table id="table" style="width:100%">
        <tr>
            <td>id</td>
            <td>filename</td>
            <td>date</td>
            <td>Go to file</td>
            <td>loaded</td>
            <td>load file</td>
        </tr>
        {% for data_dump in data_dumps %}
            <tr>
                <td>
                    <p> {{ data_dump.pk }} </p>
                </td>
                <th>
                    <p> {{ data_dump.file }} </p>
                </th>
                <td>
                    <p> {{ data_dump.date_downloaded }} </p>
                </td>
                <td>
                    <form action="{{ data_dump.get_internal_view_url }}" method="get">
                        <input type="submit" value="file"/>
                    </form>
                </td>
                <td>
                    <p> {{ data_dump.loaded }} </p>
                </td>
                <td>
                    <form method="get">
                        <input name="load_file" type="hidden" value="{{ data_dump.pk }}"/>
                        <input type="submit" value="Load file"/>
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}



