[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Django ="<2.2.0,>=2.1.15"
psycopg2 = "*"
Pillow = "*"
django-heroku = "*"
requests = "*"
"boto3" = "*"
django-storages = "*"
inflection = "*"
graphql-core = "*"
graphene = "*"
graphene-django = "*"
graphene-file-upload = "*"
django-graphql-jwt = "*"
django-filter = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
django-timezone-field = "==3.0.0" # v4.0 requires django >2.2
django-generic-serializer = {path = "./lib/django_generic_serializer-0.0.2-py3-none-any.whl"}
djangorestframework = "*"
jsonfield = "*"
django-mutant = {path = "./lib/django-mutant-0.3a5.tar.gz"}
django-polymodels = ">=1.5.1"
rdflib = "*"
redis = "*"
django-modeladmin-reorder = "*"
django-celery-model = "*"
django-json2model = {path = "./lib/django_json2model-0.2.1-py3-none-any.whl"}

[dev-packages]
eventlet = "*"
coverage = "*"
codacy-coverage = "*"
flower = "*"
django-coverage-plugin = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.7"
