{% extends "base.html" %}
{% load data_provider_tags %}

{% block content %}
<div>
    <h2>{{dataprovider.provider_name}}</h2>
</div>


<table style="width:100%">
    <col width="30%">
    <col width="70%">
    <tr>
        <th>
            <div>
                <h2>
                    <a %} build_auth_url dataprovider href={% user_id>
                        Authorize {{dataprovider.provider_name}}
                    </a>
                </h2>
                <p>{{dataprovider.access_token_url}}</p>
                <p>{{dataprovider.scope}}</p>
            </div>
            <div>
                <h3>Endpoints</h3>
                {% for endpoint in endpoints %}
                <div>
                    <p>
                        {{endpoint.name}}
                    </p>
                    <form method="get">
                        <input class="btn" name="dummy" type="submit" value="Fetch data">
                    </form>
                </div>
                {% endfor %}
            </div>


        </th>
        <td>
            <iframe height="600" src={{dataprovider.get_webvowl_url}} width="100%"></iframe>
        </td>
    </tr>
</table>


{% endblock %}
