{% extends "base.html" %}
{% load data_provider_tags %}

{% block content %}
<div>
    <h2>{{dataprovider.provider_name}}</h2>
</div>


<table style="width:100%">
    <col width="30%">
    <col width="70%">
    <tr>
        <th>
            <div>
                <h2>
                    <a href="{% build_auth_url dataprovider user_id %}">
                        Authorize {{dataprovider.provider_name}}
                    </a>
                </h2>
                <p>{{dataprovider.scope}}</p>
            </div>
            <div>
                <h3>Endpoints</h3>
                {% for endpoint in endpoints %}
                <div>
                    <a href="{{ endpoint.get_internal_view_url }}">
                        {{endpoint.name}}
                    </a>
                </div>
                {% endfor %}
            </div>
        </th>
        <td>
            <iframe height="600" width="100%" src="{{ dataprovider.get_webvowl_url }}"></iframe>
        </td>
    </tr>
</table>


{% endblock %}
