{% extends "base.html" %}

{% block content %}
    <header class="major">
        <h2>View dynamic data</h2>
        {% if selected_model_name %}
            <p>{{ selected_model_name }}</p>
        {% endif %}
    </header>

    {# Search form #}
    <div>
        <form method="get">
            <label for="model">Choose a model:</label>
            <select id="model" name="model">
                <option value="">None</option>
                {% for model_name in model_names %}
                    <option value={{ model_name }}
                                    {% if selected_model_name == model_name %}
                                        selected="selected"
                                    {% endif %}
                    >{{ model_name }}</option>
                {% endfor %}
            </select>
            <label for="search">Search in text:</label>
            <input type="text" id="search" name="search" value="{{ search_query }}">
            <input type="submit" value="refresh"/>
        </form>
    </div>

    {# data instances #}
    {% if view_instances %}
        <table id="table" style="width:100%">
            {# global header - write header if all elm are the same model #}
            {% if selected_model_name %}
                <thead>
                <tr>
                    <td>id</td>
                    {% for field in view_instances.0.fields %}
                        <td>{{ field.name }}</td>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}

            {% for data_instance in view_instances %}
                <tbody>
                {# local header #}
                {% if selected_model_name == "" %}
                    <tr>
                        <td>
                            <p> id </p>
                        </td>
                        {% for field in data_instance.fields %}
                            <td>{{ field.name }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <p> {{ data_instance.id }} </p>
                    </td>
                    {% for field in data_instance.fields %}
                        <td>{{ field.value }}</td>
                    {% endfor %}
                </tr>
                </tbody>

            {% endfor %}
        </table>

        {# Paginating #}
        {% if view_instances.has_other_pages %}
            <ul class="actions small">
                {% if view_instances.has_previous %}
                    <li>
                        <a class="button primary small"
                           href="?page={{ view_instances.previous_page_number }}&model={{ selected_model_name }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="button primary small disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in view_instances.paginator.page_range %}
                    {% if view_instances.number == i %}
                        <li class="button primary small active"><span>{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li>
                            <a class="button primary small"
                               href="?page={{ i }}&model={{ selected_model_name }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if view_instances.has_next %}
                    <li>
                        <a class="button primary small"
                           href="?page={{ view_instances.next_page_number }}&model={{ selected_model_name }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="button primary small disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <p>There are no objects.</p>
    {% endif %}


{% endblock %}