{% extends "base.html" %}

{% block content %}
    <header class="major">
        <h2>View dynamic data</h2>
        {% if selected_model_name %}
            <p>{{ selected_model_name }}</p>
        {% endif %}
    </header>

    {# data instances #}
    {% if instance %}
        <table id="table" style="width:100%">
            <tbody>

            {% for field in instance.fields %}
                <tr>
                    <td>
                        <p>{{ field.name }}</p>
                    </td>
                    <td>
                        <p>{{ field.value }}<p>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no objects.</p>
    {% endif %}


{% endblock %}