# app specific
Django
psycopg2  
Pillow  
django-heroku  
requests  
boto3
django-storages  
inflection
graphql-core 
graphene
graphene-django 
graphene-file-upload
django-graphql-jwt
django-filter
celery
django-celery-results
django-celery-beat
django-celery-model
django-timezone-field
djangorestframework
jsonfield # ==2.1.1
rdflib
redis
django-modeladmin-reorder
model-bakery
parameterized
django-cors-headers
flower
lib/django_mutant-0.4-py2.py3-none-any.whl
lib/django_json2model-0.3.1-py3-none-any.whl
lib/django_generic_serializer-0.0.2-py3-none-any.whl
gunicorn

# generic
invoke
python-dotenv