<!doctype html>
{% load static %}
<html>
<head>
    <title>Meta Data Api</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/style/base.css" rel="stylesheet">
</head>

<body>
<div class="topnav">
    <a class="active" href="/admin_i/">Admin</a>
    <a href="/accounts/login/">Login</a>
    <a href="/providers/">Providers</a>
    <a href="/graphql/">Graphql</a>
    <a href="/dynamic_models/">dynamic models</a>
    <p> {{ request.user.username }} </p>
</div>

<div>
    <h1>Meta Data</h1>
</div>

{% block content %}
    replace me
{% endblock content %}
</body>
</html>